<header style="
			position: fixed;
			width: 100%;
			z-index: 9997;
			background-color: var(--color-white);
			padding: 15px;
			box-shadow: var(--box-shadow);
		">
	<div class="max-width-container">
		<div class="flex flex-row justify-between items-end">
			<a href="{{ site.url }}">
				<img style="
					width: auto;
					height: 40px;
					margin-right: 5px;
					vertical-align: bottom;
					line-height: 1;
				" 
				src="{{ site.url }}/assets/images/logo_{{ site.title | replace: ' ', '_' | downcase }}.png" 
				alt="{{ site.title }} Logo"/>
			</a>
		</div>
	</div>
</header>

<div style="
		height: calc(100vh - 103px); 
		width: 100%; 
		background-image: url('{{ site.url }}/assets/images/hero_image_{{ site.title | replace: ' ', '_' | downcase }}.jpg');
		background-color: var(--color-white);
		background-repeat: no-repeat;
		background-size: cover;
  		background-position: center;
	">
	<div style="
        text-align:center;
        display: block;
		position: absolute;
        width: 100%;
        padding-top: 70px;
        padding-bottom: 103px;
        bottom: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, 50%);
        -moz-transform: translate(-50%, 50%);
        -o-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
     ">
	<p style="
        color: var(--color-primary);
		font-family: var(--font-primary);
		display: block;
        text-align:center;
		font-size: 5vmin;
		letter-spacing: 0.5vw;
		padding-left: 0.5vw;
     ">WEBSITE COMING SOON...</p>
	</div>
</div>