:root {
	/* COLORS & FONTS */
		--color-primary: #33CCFF;
		--color-secondary: #333333;
		--color-tertiary: #CCCCCC;
		--color-black: #333333;
		--color-dark-grey: #666666;
		--color-light-grey: #CCCCCC;
		--color-white: #FFFFFF;
		--font-primary: 'Dosis-ExtraBold';
		--font-primary-weight: 800;
		--font-secondary: 'Quicksand-Regular';
		--font-secondary-weight: 800;
		--font-tertiary: 'Quicksand-Regular';
		--font-tertiary-weight: 400;
		--font-xxs: 0.5rem;
		--font-xs: 1rem;
		--font-s: 1.167rem;
		--font-m: 1.5rem;
		--font-l: 2rem;
		--font-xl: 3rem;
}